name: Sync upstream submodule
permissions:
  contents: write
  pull-requests: write
on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 0 * * MON"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Sync submodule
        run: |
          git submodule update --remote
          cp upstream/data.txt src/data.txt
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v6
        with:
          title: Automated updates
          commit-message: "[bot] updates upstream dependency"
          base: main
          branch: upstream-updates
          delete-branch: true
      - name: Trigger ci workflow
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'ci.yml',
              ref: '${{ steps.create-pr.outputs.pull-request-head-sha }}',
            })
